@font-face
    font-family: 'Montserrat'
    src: local('Montserrat'), url("../../public/fonts/montserrat/Montserrat-VariableFont_wght.ttf") format('truetype')
    font-weight: 800

@font-face
    font-family: 'Montserrat'
    src: local('Montserrat'), url("../../public/fonts/montserrat/Montserrat-VariableFont_wght.ttf") format('truetype')
    font-weight: 700

@font-face
    font-family: 'Montserrat'
    src: local('Montserrat'), url("../../public/fonts/montserrat/Montserrat-VariableFont_wght.ttf") format('truetype')
    font-weight: 600

@font-face
    font-family: 'Montserrat'
    src: local('Montserrat'), url("../../public/fonts/montserrat/Montserrat-VariableFont_wght.ttf") format('truetype')
    font-weight: 400

//@font-face
//    font-family: 'TTCommons-Bold'
//    src: url("../../public/fonts/tt commons/TTCommons-Bold.eot"),
//    url('../../public/fonts/tt commons/TTCommons-Bold.eot?iefix') format('embedded-opentype'),
//    url("../../public/fonts/tt commons/TTCommons-Bold.woff2") format('woff2'),
//    url("../../public/fonts/tt commons/TTCommons-Bold.woff") format('woff'),
//    url("../../public/fonts/tt commons/TTCommons-Bold.ttf") format('truetype')

//@font-face
//    font-family: 'TTCommons-ExtraBold'
//    src: url("../../public/fonts/tt commons/TTCommons-ExtraBold.eot"),
//    url('../../public/fonts/tt commons/TTCommons-ExtraBold.eot?iefix') format('embedded-opentype'),
//    url("../../public/fonts/tt commons/TTCommons-ExtraBold.woff2") format('woff2'),
//    url("../../public/fonts/tt commons/TTCommons-ExtraBold.woff") format('woff'),
//    url("../../public/fonts/tt commons/TTCommons-ExtraBold.ttf") format('truetype')

//@font-face
//    font-family: 'TTCommons-DemiBold'
//    src: url("../../public/fonts/tt commons/TTCommons-DemiBold.eot"),
//    url('../../public/fonts/tt commons/TTCommons-DemiBold.eot?iefix') format('embedded-opentype'),
//    url("../../public/fonts/tt commons/TTCommons-DemiBold.woff2") format('woff2'),
//    url("../../public/fonts/tt commons/TTCommons-DemiBold.woff") format('woff'),
//    url("../../public/fonts/tt commons/TTCommons-DemiBold.ttf") format('truetype')

//@font-face
//    font-family: 'TTCommons-Regular'
//    src: url("../../public/fonts/tt commons/TTCommons-Regular.eot"),
//    url('../../public/fonts/tt commons/TTCommons-Regular.eot?iefix') format('embedded-opentype'),
//    url("../../public/fonts/tt commons/TTCommons-Regular.woff2") format('woff2'),
//    url("../../public/fonts/tt commons/TTCommons-Regular.woff") format('woff'),
//    url("../../public/fonts/tt commons/TTCommons-Regular.ttf") format('truetype')

@font-face
    font-family: 'CourierNewPS-BoldMT'
    src: local('CourierNewPS-BoldMT'), url("../../public/fonts/courier new/CourierNewPS-BoldMT.eot"), url('../../public/fonts/courier new/CourierNewPS-BoldMT.eot?iefix') format('embedded-opentype'), url("../../public/fonts/courier new/CourierNewPS-BoldMT.woff2") format('woff2'), url("../../public/fonts/courier new/CourierNewPS-BoldMT.woff") format('woff'), url("../../public/fonts/courier new/CourierNewPS-BoldMT.ttf") format('truetype')
